/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
  }
  
  .container-profile {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
    .header-profile {
      height:80px;
      width: 100%;
      border-radius: 10px 10px 0 0;
      background: #e73673;
    }
  
  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .avatar-container {
    position: relative;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #a082f7;
  }
  
  .badge {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #a082f7;
    color: white;
    font-size: 0.8em;
    padding: 3px 8px;
    border-radius: 12px;
  }
  
  .name-email h3 {
    margin: 20px 20px 5px 20px;
    font-size: 1.2em;
  }
  
  .name-email p {
    margin: 0px 20px 0;
    color: #666;
  }
  
  .edit-button {
    padding: 10px 20px;
    background: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .edit-button:hover {
    background: #3367d6;
  }
  
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
  }
  
  input:focus {
    outline: none;
    border-color: #4285f4;
    background: #fff;
  }
  .input-icon {
    position: relative;
  }
  
  .input-icon select {
    width: 100%;
    padding: 8px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none; /* Ẩn mũi tên mặc định */
  }
  
  .input-icon i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Không ảnh hưởng khi người dùng nhấp chuột */
    color: #888;
  }
  
  
  .form-actions {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .cancel-button {
    padding: 10px 20px;
    background: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    padding: 10px 20px;
    background: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  