<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Thông tin cá nhân</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link
      id="pagestyle"
      href="{{ url_for('static',filename="css/material-dashboard.css")}}?v=3.0.0"
      rel="stylesheet"
    />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-oMpQuqH3Rao7lhzKwxkr+e7Y6wQoH0hU5w0kqGzFSmP2Ky0M21VRFfx4oDYGwnyB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename="css/dashboard.css")}}">
    <link rel="stylesheet" href="{{ url_for('static',filename="css/profile.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">  
  </head>

  <body class="g-sidenav-show bg-gray-200">
    <aside class="sidebar">
      <div class="logo mt-3">
          <h2><i class="fas fa-star"></i> LeaderBoard</h2>
      </div>
      <nav>
        <ul>
          <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-chart-pie"></i> Trang chủ</a></li>
          <li id="attendance-admin"><a href="{{ url_for('attendance') }}"><i class="fa-solid fa-check-square"></i> Điểm danh</a></li>
          <li id="stated-user"><a href="{{ url_for('scoreboard') }}"><i class="fas fa-calendar-check"></i>Điểm phát biểu</a></li>
          <li id="attendance-user"><a href="{{ url_for('attendanceuser') }}"><i class="fa-solid fa-check-square"></i> Điểm danh & Điểm phát biểu</a></li>
          <li><a href="{{ url_for('ranking') }}" ><i class="fas fa-trophy"></i> Bảng xếp hạng</a></li>
          <li><a href="{{ url_for('profile') }} " class="active"><i class="fas fa-user"></i> Thông tin cá nhân</a></li>
        </ul>
      </nav>
      <button class="upgrade-btn">
          <i class="fas fa-heart"></i> Nhóm 1, Cụm 1
      </button>
    </aside>
    <main
      class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
    >
      <!-- Navbar -->
      <header class="header">
        <h4>Thông tin cá nhân</h4>
        <div class="actions">
          <input type="text" placeholder="Tìm kiếm..." class="search-box">
          <button class="action-button">
            <i class="fas fa-bell"></i>
          </button>
          <a href="/" class="action-button">
            <i class="fa-solid fa-right-from-bracket" style="color: #e73673;"></i>
          </a>
        </div>
      </header>
      <!-- End Navbar -->
      <div class="container-profile ">
        <div class="header-profile">
        </div>
        <div class="profile">
          <div class="profile-info">
            <div class="avatar-container">
              <img src="/assets/img/anhhau.jpg" alt="Avatar" class="avatar">
              <div class="badge" id="lastname">TLUer</div>
            </div>
            <div class="name-email">
              <h3 id="fullname">Sinh viên Thủy Lợi</h3>
              <p id ="email">tlu@gmail.com</p>
            </div>
          </div>
        </div>
        <form class="form">
          <div class="form-group">
            <label for="student-id">Mã sinh viên(*)</label>
            <input type="text" id="student-id">
          </div>
          <div class="form-group">
            <label for="class">Lớp(*)</label>
            <input type="text" id="class">
          </div>
          <div class="form-group">
            <label for="class">Khóa(*)</label>
            <input type="text" id="class-year">
          </div>
          <div class="form-group">
            <label for="class">Khoa(*)</label>
            <input type="text" id="class-department">
          </div>
          <div class="form-group">
            <label for="major">Ngành học(*)</label>
            <input type="text" id="major">
          </div>
          <div class="form-group">
            <label for="gpa">Điểm GPA(*)</label>
            <input type="text" id="gpa">
          </div>
          <div class="form-group">
            <label for="gender">Giới tính(*)</label>
            <div class="input-icon">
              <select id="gender" class="form-control">
                <option value="" disabled selected>Chọn giới tính</option>
                <option value="M">Nam</option>
                <option value="F">Nữ</option>
                <option value="O">Khác</option>
              </select>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Số điện thoại(*)</label>
            <input type="text" id="phone">
          </div>
          <div class="form-group">
            <label for="birthday">Ngày sinh(*)</label>
            <input type="date" id="birthday">
          </div>
          <div class="form-group">
            <label for="address">Địa chỉ(*)</label>
            <input type="text" id="address">
          </div>
          
          <div class="form-actions">
            <button type="button" class="cancel-button">Đóng</button>
            <button type="submit" class="save-button">Lưu</button>
          </div>
        </form>
      </div>
    <!--   Core JS Files   -->
    <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/plugins/smooth-scrollbar.min.js') }}"></script>
    <script>
      var win = navigator.platform.indexOf("Win") > -1;
      if (win && document.querySelector("#sidenav-scrollbar")) {
        var options = {
          damping: "0.5",
        };
        Scrollbar.init(document.querySelector("#sidenav-scrollbar"), options);
      }
    </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="{{ url_for('static',filename="js/material-dashboard.min.js")}}?v=3.0.0"></script>
    <script src="{{ url_for('static',filename="js/cookie.js")}}"></script>
    <script src="{{ url_for('static',filename="js/profile.js")}}"></script>
  </body>
</html>
